.car-posts
  .car-posts__up
    h4.car-posts__name A3
    span.car-posts__availability В наличии 4
  .car-posts__middle
    .car-posts__row
      span.car-posts__text АИ / 1,8  / 160 л.с / FWD / CVT
      .car-posts__wrap
        .favorites
          svg.favorites__svg
            use(xlink:href="img/sprite.svg#favorites")
        .comparisons
          svg.comparisons__svg
              use(xlink:href="img/sprite.svg#comparisons")
        
    img.car-posts__img(src="img/car-posts-img.png")
    .car-posts__flex
      .car-posts__wrap-price
        span.car-posts__old-price от 1 199 000 руб.
        span.car-posts__price от 899 000 руб.
      .car-posts__benefit-block
        svg.car-posts__svg-benefit
          use(xlink:href="img/sprite.svg#benefit")
        .car-posts__wrap-text
          span.car-posts__text-benefit выгода
          span.car-posts__sm-price 300 000 руб.
  .car-posts__down
    a.block-btn.block-btn--black(href="#")
      .block-btn__line.block-btn__line--top
      .block-btn__line.block-btn__line--right
      .block-btn__line.block-btn__line--bottom
      .block-btn__line.block-btn__line--left
      button.block-btn__btn в кредит от 8 590 руб./мес