.developments__wrapper
  .developments__block.developments__block--big
    .developments__wrap-img
      img.developments__img(src="img/developments-one.jpg")
    .developments__wrap
      .developments__block-text
        span.developments__text Выгода до 250 000 руб.
        h3.developments__caption Новый Audi Q8. Добро пожаловать в&nbsp;восьмое измерение
      .developments__wrap-btn
        a.block-btn.block-btn--white(href="#")
          .block-btn__line.block-btn__line--top
          .block-btn__line.block-btn__line--right
          .block-btn__line.block-btn__line--bottom
          .block-btn__line.block-btn__line--left
          button.block-btn__btn Подробнее
  a.developments__block(href="#")
    .developments__wrap-img
      img.developments__img(src="img/developments-two.jpg")
    .developments__wrap
      .developments__block-text
        h3.developments__caption Чем старше автомобиль, тем выше ваша выгода!
  .developments__block.developments__block--big
    .developments__wrap-img
      img.developments__img(src="img/developments-three.jpg")
    .developments__wrap
      .developments__block-text
        h3.developments__caption Автомобиль с тест-драйва в максимальной комплектации по выгодной цене
      .developments__wrap-btn
        a.block-btn.block-btn--white(href="#")
          .block-btn__line.block-btn__line--top
          .block-btn__line.block-btn__line--right
          .block-btn__line.block-btn__line--bottom
          .block-btn__line.block-btn__line--left
          button.block-btn__btn Подробнее
  a.developments__block(href="#")
    .developments__wrap-img
      img.developments__img(src="img/developments-four.jpg")
    .developments__wrap
      .developments__block-text
        h3.developments__caption Беспрецедентное кредитное предложение от AUDI
