section.page-footer
  .container
    .page-footer__wrapper
    
      .page-footer__block
        .page-footer__wrap
          a.page-footer__link-caption(href="#")
            h4.page-footer__caption Дилерские центры
        .page-footer__wrap
          a.page-footer__link-caption(href="#")
            h4.page-footer__caption О компании
          ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href="#") История компании
            li.page-footer__item
              a.page-footer__link(href="#") Наши награды
            li.page-footer__item
              a.page-footer__link(href="#") Наши мероприятия
            li.page-footer__item
              a.page-footer__link(href="#") Статьи
            li.page-footer__item
              a.page-footer__link(href="#") Вакансии
            li.page-footer__item
              a.page-footer__link(href="#") Реквизиты компании
            li.page-footer__item
              a.page-footer__link(href="#") Контакты
        .page-footer__wrap
          a.page-footer__link-caption(href="#")
            h4.page-footer__caption Мобильное приложение
        .page-footer__wrap
          a.page-footer__link-caption(href="#")
            h4.page-footer__caption Корпоративным клиентам
            
      .page-footer__block
        .page-footer__wrap
          a.page-footer__link-caption(href="#")
            h4.page-footer__caption Купить авто
          ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href="#") Новые автомобили
            li.page-footer__item
              a.page-footer__link(href="#") Авто с пробегом
        .page-footer__wrap
          a.page-footer__link-caption(href="#")
            h4.page-footer__caption Продать авто
        .page-footer__wrap
          a.page-footer__link-caption(href="#")
            h4.page-footer__caption Услуги
          ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href="#") Кредитование
            li.page-footer__item
              a.page-footer__link(href="#") Страхование
            li.page-footer__item
              a.page-footer__link(href="#") Страховой случай
            li.page-footer__item
              a.page-footer__link(href="#") Удаленное урегулирование убытков
            li.page-footer__item
              a.page-footer__link(href="#") Дополнительное оборудование
            li.page-footer__item
              a.page-footer__link(href="#") Аренда недвижимости
              
      .page-footer__block
        .page-footer__wrap
          a.page-footer__link-caption(href="#")
            h4.page-footer__caption Сервис
          ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href="#") Запись на сервис
            li.page-footer__item
              a.page-footer__link(href="#") Гарантийное обслуживание
            li.page-footer__item
              a.page-footer__link(href="#") Постгарантийное обслуживание
            li.page-footer__item
              a.page-footer__link(href="#") Кузовной ремонт
            li.page-footer__item
              a.page-footer__link(href="#") Шины и диски
            li.page-footer__item
              a.page-footer__link(href="#") Запчасти и аксессуары
        .page-footer__wrap
          a.page-footer__link-caption(href="#")
            h4.page-footer__caption События
          ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href="#") Акции и спецпредложения
            li.page-footer__item
              a.page-footer__link(href="#") Новости
            
      .page-footer__block
        .page-footer__wrap
          a.page-footer__tel(href="tel:") 8-800-000-00-00
          ul.page-footer__list
            li.page-footer__item
              .page-footer__link.show_popup(rel="popup1") Заказать звонок
              
        .page-footer__wrap
           ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href="#") Политика конфиденциальности
            li.page-footer__item
              span.page-footer__link © 2019. Все права защищены
              
    .footer-down
      .footer-down__wrapper
        .footer-down__left-block
          .social
            ul.social__list
              li.social__item
                a.social__link(href="#")
                  svg.social__svg
                    use(xlink:href="img/sprite.svg#facebook")
              li.social__item
                a.social__link(href="#")
                  svg.social__svg
                    use(xlink:href="img/sprite.svg#instagram")
              li.social__item
                a.social__link(href="#")
                  svg.social__svg
                    use(xlink:href="img/sprite.svg#vk")
              
        .footer-down__center-block
          a.download(href="#")
            svg.download__svg
              use(xlink:href="img/sprite.svg#app-store")
            span.download__text Скачать в App Store
          a.download(href="#")
            svg.download__svg
              use(xlink:href="img/sprite.svg#play-store")
            span.download__text Скачать в Google Play
        .footer-down__right-block
          a.map-site(href="#")
            svg.map-site__svg
              use(xlink:href="img/sprite.svg#share")
            span.map-site__text Карта сайта
              
              
include modal.pug