section.wrap-up-row.wrap-up-row--inner
  section.up-row.up-row--inner
    .up-row__container
      .container
        .up-row__wrapper
          .up-row__left-block
            .city-change.show_popup(rel="city-modal")
              .city-change__wrap-svg
                svg.city-change__svg
                  use(xlink:href="img/sprite.svg#location")
              span.city-change__text Коломна
            a.up-row__tel(href="tel:88007771747") 8 800-777-17-47
          .up-row__right-block
            ul.up-row__list
              li.up-row__item
                a.up-row__link(href="#") Дилерские центры
              li.up-row__item
                a.up-row__link(href="#") Новости
              li.up-row__item
                a.up-row__link(href="#") Корпоративным клиентам

    .header-middle
      .container
        .header-middle__wrapper
          .header-middle__left-block
            a(href="index.html")
              svg.logo
                use(xlink:href="img/sprite.svg#logo")
              svg.logo.logo--none
                use(xlink:href="img/sprite.svg#logo-mob")  
          .header-middle__center-block
            .nav
              ul.nav__list
                li.nav__item
                  a.nav__link(href="#") Купить авто
                li.nav__item
                  a.nav__link(href="#") Продать авто
                li.nav__item
                  a.nav__link(href="#") Сервис
                li.nav__item
                  a.nav__link(href="#") Услуги
                li.nav__item
                  a.nav__link(href="#") Акции
                li.nav__item
                  a.nav__link(href="#") О компании
                li.nav__item
                  a.nav__link(href="#") Мобильное приложение
          .header-middle__right-block
            .favorites
              .circle-number 12
              svg.favorites__svg
                use(xlink:href="img/sprite.svg#favorites")
            .comparisons
              .circle-number 12
              svg.comparisons__svg
                  use(xlink:href="img/sprite.svg#comparisons")
            .burger
              .burger__line.burger__line--one
              .burger__line.burger__line--two
              .burger__line.burger__line--three