section.header(style="background-image: url(img/services-bg.jpg)")
  section.wrap-up-row
    section.up-row.up-row--inner.up-row--white
      .up-row__container
        .container
          .up-row__wrapper
            .up-row__left-block
              .city-change.show_popup(rel="city-modal")
                .city-change__wrap-svg
                  svg.city-change__svg
                    use(xlink:href="img/sprite.svg#location")
                span.city-change__text Коломна
              a.up-row__tel(href="tel:88007771747") 8 800-777-17-47
            .up-row__right-block
              ul.up-row__list
                li.up-row__item
                  a.up-row__link(href="#") Дилерские центры
                li.up-row__item
                  a.up-row__link(href="#") Новости
                li.up-row__item
                  a.up-row__link(href="#") Корпоративным клиентам

      .header-middle
        .container
          .header-middle__wrapper
            .header-middle__left-block
              a(href="index.html")
                svg.logo
                  use(xlink:href="img/sprite.svg#logo")
            .header-middle__center-block
              .nav
                ul.nav__list
                  li.nav__item
                    a.nav__link(href="#") Купить авто
                  li.nav__item
                    a.nav__link(href="#") Продать авто
                  li.nav__item
                    a.nav__link(href="#") Сервис
                  li.nav__item
                    a.nav__link(href="#") Услуги
                  li.nav__item
                    a.nav__link(href="#") Акции
                  li.nav__item
                    a.nav__link(href="#") О компании
                  li.nav__item
                    a.nav__link(href="#") Мобильное приложение
            .header-middle__right-block
              .favorites
                .circle-number 12
                svg.favorites__svg
                  use(xlink:href="img/sprite.svg#favorites")
              .comparisons
                .circle-number 12
                svg.comparisons__svg
                    use(xlink:href="img/sprite.svg#comparisons")
    .breadcrumbs.breadcrumbs--white
      .container
        .breadcrumbs__wrapper
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#") Главная
              svg.breadcrumbs__svg
                use(xlink:href="img/sprite.svg#sm-arrow-right")
            li.breadcrumbs__item
              span.breadcrumbs__link.breadcrumbs__link--active Услуги

  section.first-screen
    .first-screen__container.first-screen__container--change
      .menu.menu--change
        .container
          .header-bg__row-title.header-bg__row-title--no-padding
            h2.header-bg__title Услуги автохолдинга «Корс Групп»
          ul.menu__list
            li.menu__item
              a.menu__link(href="#") Кредитование <span>— Низкий процент и выгодные условия!</span>
            li.menu__item
              a.menu__link(href="#") Страхование
            li.menu__item
              a.menu__link(href="#") Страховой случай
            li.menu__item
              a.menu__link(href="#") Удаленное урегулирование убытков
            li.menu__item
              a.menu__link(href="#") Дополнительное оборудование
            li.menu__item
              a.menu__link(href="#") Аренда недвижимости
      

  .header-down
    .container
      .header-down__wrapper
        .header-down__left-block
          a.arrow-to-scroll(href="#two-sect")
            svg.arrow-to-scroll__arrow
              use(xlink:href="img/sprite.svg#arrow-scroll")
            .arrow-to-scroll__wrap
              svg.arrow-to-scroll__line
                use(xlink:href="img/sprite.svg#line")
        .header-down__right-block
          .social
            ul.social__list
              li.social__item
                a.social__link(href="#")
                  svg.social__svg
                    use(xlink:href="img/sprite.svg#instagram")
              li.social__item
                a.social__link(href="#")
                  svg.social__svg
                    use(xlink:href="img/sprite.svg#vk")
              li.social__item
                a.social__link(href="#")
                  svg.social__svg
                    use(xlink:href="img/sprite.svg#facebook")
