section.header
  section.wrap-up-row
    section.up-row
      .up-row__container
        .container
          .up-row__wrapper
            .up-row__left-block
              .city-change.show_popup(rel="city-modal")
                .city-change__wrap-svg
                  svg.city-change__svg
                    use(xlink:href="img/sprite.svg#location")
                span.city-change__text Коломна
              a.up-row__tel(href="tel:88007771747") 8 800-777-17-47
            .up-row__right-block
              ul.up-row__list
                li.up-row__item
                  a.up-row__link(href="#") Дилерские центры
                li.up-row__item
                  a.up-row__link(href="#") Новости
                li.up-row__item
                  a.up-row__link(href="#") Корпоративным клиентам

      .header-middle
        .container
          .header-middle__wrapper
            .header-middle__left-block
              a(href="index.html")
                svg.logo
                  use(xlink:href="img/sprite.svg#logo")
                svg.logo.logo--none
                  use(xlink:href="img/sprite.svg#logo-mob")  
            .header-middle__center-block
              .nav
                ul.nav__list
                  li.nav__item
                    a.nav__link(href="#") Купить авто
                  li.nav__item
                    a.nav__link(href="#") Продать авто
                  li.nav__item
                    a.nav__link(href="#") Сервис
                  li.nav__item
                    a.nav__link(href="#") Услуги
                  li.nav__item
                    a.nav__link(href="#") Акции
                  li.nav__item
                    a.nav__link(href="#") О компании
                  li.nav__item
                    a.nav__link(href="#") Мобильное приложение  
            .header-middle__right-block
              .favorites
                .circle-number 12
                svg.favorites__svg
                  use(xlink:href="img/sprite.svg#favorites")
              .comparisons
                .circle-number 12
                svg.comparisons__svg
                    use(xlink:href="img/sprite.svg#comparisons")
              .burger
                .burger__line.burger__line--one
                .burger__line.burger__line--two
                .burger__line.burger__line--three


  section.first-screen
    .first-screen__container
      .menu
        .container
          ul.menu__list
            li.menu__item
              a.menu__link(href="#") Купить авто
              span — Низкий процент и выгодные <a href="#">условия</a>!
            li.menu__item
              a.menu__link(href="#") Продать авто
              span — Низкий процент и выгодные условия!
            li.menu__item
              a.menu__link(href="#") Сервис
              span — Низкий процент и выгодные условия!
            li.menu__item
              a.menu__link(href="#") Услуги
              span — Низкий процент и выгодные условия!
            li.menu__item
              a.menu__link(href="#") Акции
              span — Низкий процент и выгодные условия!
            li.menu__item
              a.menu__link(href="#") О компании
              span — Низкий процент и выгодные условия!
      .first-screen__slider.swiper-container
        .first-screen__wrapper.swiper-wrapper
          .first-screen__slide.swiper-slide
            .first-screen__slide-flex
              .first-screen__wrap-bg(style='background-image: url(img/banner-one.jpg)')
                .container
                  .first-screen__wrap
                    a.first-screen__link(href="#")
                      h2.first-screen__title Новый Audi A8. Добро пожаловать в восьмое измерение
                    span.first-screen__text Audi Collection
          .first-screen__slide.swiper-slide
            .first-screen__slide-flex
              .first-screen__wrap-bg(style='background-image: url(img/banner-one.jpg)')
                .container
                  .first-screen__wrap
                    a.first-screen__link(href="#")
                      h2.first-screen__title Новый Audi A8. Добро пожаловать в восьмое измерение
                    span.first-screen__text Audi Collection
          .first-screen__slide.swiper-slide
            .first-screen__slide-flex
              .first-screen__wrap-bg(style='background-image: url(img/banner-one.jpg)')
                .container
                  .first-screen__wrap
                    a.first-screen__link(href="#")
                      h2.first-screen__title Новый Audi A8. Добро пожаловать в восьмое измерение
                    span.first-screen__text Audi Collection
          .first-screen__slide.swiper-slide
            .first-screen__slide-flex
              .first-screen__wrap-bg(style='background-image: url(img/banner-one.jpg)')
                .container
                  .first-screen__wrap
                    a.first-screen__link(href="#")
                      h2.first-screen__title Новый Audi A8. Добро пожаловать в восьмое измерение
                    span.first-screen__text Audi Collection
          .first-screen__slide.swiper-slide
            .first-screen__slide-flex
              .first-screen__wrap-bg(style='background-image: url(img/banner-one.jpg)')
                .container
                  .first-screen__wrap
                    a.first-screen__link(href="#")
                      h2.first-screen__title Новый Audi A8. Добро пожаловать в восьмое измерение
                    span.first-screen__text Audi Collection
          .first-screen__slide.swiper-slide
            .first-screen__slide-flex
              .first-screen__wrap-bg(style='background-image: url(img/banner-one.jpg)')
                .container
                  .first-screen__wrap
                    a.first-screen__link(href="#")
                      h2.first-screen__title Новый Audi A8. Добро пожаловать в восьмое измерение
                    span.first-screen__text Audi Collection 
      .first-screen__number
      .first-screen__controls
        .container
          .first-screen__wrap-controls
            .first-screen__arrow.first-screen__arrow--prev
              img(src='img/arrow-up.svg' alt='')
            .first-screen__pagination
            .first-screen__arrow.first-screen__arrow--next
              img(src='img/arrow-down.svg' alt='')

  .header-down
    .container
      .header-down__wrapper
        .header-down__left-block
          a.arrow-to-scroll(href="#two-sect")
            svg.arrow-to-scroll__arrow
              use(xlink:href="img/sprite.svg#arrow-scroll")
            .arrow-to-scroll__wrap
              svg.arrow-to-scroll__line
                use(xlink:href="img/sprite.svg#line")
        .header-down__right-block
          .social
            ul.social__list
              li.social__item
                a.social__link(href="#")
                  svg.social__svg
                    use(xlink:href="img/sprite.svg#instagram")
              li.social__item
                a.social__link(href="#")
                  svg.social__svg
                    use(xlink:href="img/sprite.svg#vk")
              li.social__item
                a.social__link(href="#")
                  svg.social__svg
                    use(xlink:href="img/sprite.svg#facebook")
