.link-sect
  .link-sect__wrapper
    .link-sect__block
      h4.link-sect__caption Записаться на сервис
      a.link-sect__link(href="#") 
        svg.link-sect__svg
          use(xlink:href="img/sprite.svg#sm-arrow-right")
        span Записаться
    .link-sect__block
      h4.link-sect__caption Узнайте больше о кредитных программах
      a.link-sect__link(href="#") 
        svg.link-sect__svg
          use(xlink:href="img/sprite.svg#sm-arrow-right")
        span Подробнее
    .link-sect__block
      h4.link-sect__caption Программа Trade-In
      a.link-sect__link(href="#") 
        svg.link-sect__svg
          use(xlink:href="img/sprite.svg#sm-arrow-right")
        span Подробнее
    .link-sect__block
      h4.link-sect__caption Заказать тест-драйв
      a.link-sect__link(href="#") 
        svg.link-sect__svg
          use(xlink:href="img/sprite.svg#sm-arrow-right")
        span Подробнее