link(rel="stylesheet" type="text/css" href="css/normalise.css")
link(rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
link(rel="stylesheet" type="text/css" href="css/swiper.min.css")
link(rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css")
link(rel="stylesheet" type="text/css" href="css/style.css")