.mob-menu
  .mob-menu__up
    .mob-menu__left-block
      .favorites
        .circle-number 12
        svg.favorites__svg
          use(xlink:href="img/sprite.svg#favorites")
    .mob-menu__center-block
      .comparisons
        .circle-number 12
        svg.comparisons__svg
            use(xlink:href="img/sprite.svg#comparisons")
    .mob-menu__right-block
      .close
        .close__line
        .close__line
  .mob-menu__midlle
    .menu
      ul.menu__list
        li.menu__item
          a.menu__link(href="#") Дилерские центры
        li.menu__item
          a.menu__link(href="#") О компании
        li.menu__item
          a.menu__link(href="#") Корпоративным клиентам
        li.menu__item
          a.menu__link(href="#") Купить авто
        li.menu__item
          a.menu__link(href="#") Продать авто
        li.menu__item
          a.menu__link(href="#") Сервис
        li.menu__item
          a.menu__link(href="#") Услуги
        li.menu__item
          a.menu__link(href="#") Акции
        li.menu__item
          a.menu__link(href="#") О компании
  .mob-menu__down
    .mob-menu__wrap
      a.mob-menu__tel(href="tel:8-800-000-00-00") 8-800-000-00-00
      span.mob-menu__text Заказать звонок
    .social
      ul.social__list
        li.social__item
          a.social__link(href="#")
            svg.social__svg
              use(xlink:href="img/sprite.svg#facebook")
        li.social__item
          a.social__link(href="#")
            svg.social__svg
              use(xlink:href="img/sprite.svg#instagram")
        li.social__item
          a.social__link(href="#")
            svg.social__svg
              use(xlink:href="img/sprite.svg#vk")
        