script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script(src="js/modernizr.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
script(src="js/sticky-kit.js")
script(src="js/swiper.min.js")
script(src="js/groups.js")
script(src="js/jquery.fancybox.min.js")
script(src="js/jquery.maskedinput.min.js")
script(src="js/main.js")