.inner-up-row {
  &__title {
    font-size: 32px;
    line-height: 40px;
  }
}

.inner-container {
  padding-bottom: 50px;
  padding-top: 30px;
}

.mark-list {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 21px;
    column-gap: 32px;
    margin: 0;
    padding: 28px 0 39px;
  }

  &__item {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px dotted rgba(41, 52, 67, 0.1);
    margin-right: 23px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -6px;
  }

  &__link {
    font-size: 16px;
    line-height: normal;
    display: block;
    background-color: #fff;
    padding-right: 7px;
  }

  &__value {
    font-size: 16px;
    line-height: normal;
    color: rgba(41, 52, 67, 0.5);
    display: block;
    background-color: #fff;
    padding-left: 7px;
    margin-top: -1px;
  }
}

.sorting {
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgba(41, 52, 67, 0.1);
    //    border-bottom: 1px solid rgba(41, 52, 67, 0.1);
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    opacity: 0.7;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
  }

  &__item {
    padding: 12px 0 11px;
    margin: -1px 21px 0 0;
    list-style: none;
    display: flex;
    align-items: center;
    border-top: 1px solid transparent;
    transition: all 0.3s ease-in-out;

    &--active {
      border-top: 1px solid #0B3FC7;

      .sorting__link {
        color: #0B3FC7;
      }

      .sorting__svg {
        stroke: #0B3FC7;
        width: 100%;
      }
    }
  }

  &__svg {
    width: 0;
    max-width: 8px;
    height: 8px;
    stroke: #293443;
    fill: transparent;
    margin-left: 4px;
    transition: all 0.3s ease-in-out;
  }

  &__link {
    font-size: 12px;
    line-height: 16px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #0B3FC7;
    }
  }
}

.pagination {
  padding: 25px 0 47px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0 65px;
  }

  &__item {
    padding: 0;
    margin: 0 3.7px;
    list-style: none;
  }

  &__link {
    font-size: 12px;
    line-height: 16px;
    color: #161515;
    font-weight: 500;
    //    border-top: 1px solid #161515;
    //    border-bottom: 1px solid #161515;
    padding: 7px 12.5px 3px;
    display: block;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 100%;
      height: 1px;
      background-color: #161515;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      left: 100%;
      bottom: 0;
      right: 0;
      height: 1px;
      background-color: #161515;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        right: 0;
      }

      &::after {
        left: 0;
      }
    }

    &--active {
      &::before {
        right: 0;
      }

      &::after {
        left: 0;
      }
    }

    &--dots {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:first-child {
      .pagination__wrap-svg {
        transform: rotate(180deg);
      }
    }
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    font-weight: 500;
  }

  &__svg {
    fill: transparent;
    stroke: #000;
    width: 6px;
    height: 10px;
    margin: 0 10px;
  }
}

.photo-slider {
  position: relative;
  margin: 12px -4px 0;
  width: auto;

  &__slide {
    height: 100%;
    padding: 0 4px;
  }

  &__img {
    width: 100%;
    max-height: 560px;
    object-fit: cover;

    @media (max-width: 1441px) {
      height: 448px;
    }
  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &--prev {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      left: 0;

      .photo-slider__svg {
        transform: rotate(180deg);
      }
    }

    &--next {
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      right: 0;
    }

    &:hover {
      background-color: rgba(22, 21, 21, 0.3);
      border-color: transparent;
    }
  }

  &__svg {
    fill: transparent;
    stroke: #fff;
    width: 24px;
    height: 34px;
    stroke: #fff;
    //    margin-top: 12px;
  }
}

.platform {
  background-color: #fff;
  margin-top: -25px;
  position: relative;
  z-index: 10;
  padding: 21px 32px 0;

  .page-two-columns {
    grid-template-columns: 66.7% 21.8%;
    justify-content: space-between;
  }

  .sidebar {
    padding-right: 16px;
  }

  .link-sect {
    border: none;

    &__wrapper {
      padding-top: 17px;
      grid-template-columns: 22.12% 24.02% 24.02% 22.12%;
    }
  }

  &--news-inner {
    .page-two-columns {
      grid-template-columns: 75.4% 21.8%;
      justify-content: space-between;
      padding-top: 60px;
    }
  }
}

.model-title {
  border-top: 2px solid #161515;
  border-bottom: 2px solid #161515;
  margin-top: 20px;
  padding: 34px 0 34px;
  display: flex;
  align-items: baseline;

  &__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }

  &__block {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    padding-right: 8px;
  }

  &__text {
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    color: #0FBB2A;
  }

  &__wrap {
    display: flex;
    align-items: baseline;
    margin-left: 30px;
    padding-bottom: 5px;
  }

  &__svg {
    width: 12px;
    height: 16px;
    fill: #293443;
    stroke: #293443;
    margin-right: 6px;
  }

  &__city {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }
}

.model-price-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0 35px;
  align-items: flex-start;

  &__old-price {
    font-size: 16px;
    line-height: 24px;
    color: #293443;
    opacity: 0.5;
    text-decoration: line-through;
    text-decoration-color: #8E0F28;
    display: block;
  }

  &__price {
    font-size: 32px;
    line-height: 40px;
  }

  &__wrap {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    //    padding-right: 97px;

    .blue-btn {
      width: 100%;
      max-width: 192px;
    }

    .block-btn {
      max-width: 136px;
      margin-left: 32px;
    }
  }

  &__row {
    width: 100%;
    padding-top: 28px;
  }

  &__flex-row {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .pay-block {
      margin-left: 20px;

      @media (max-width: 1312px) {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin-top: 3px;
    letter-spacing: 0.4px;
  }

  &__svg {
    fill: transparent;
    stroke: #000;
    width: 6px;
    height: 10px;
    margin-right: 10px;
  }
}

.accordion {
  border-top: 1px solid rgba(22, 21, 21, 0.3);

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0 19px;
    border-bottom: 1px solid rgba(22, 21, 21, 0.3);
    cursor: pointer;
  }

  &__title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 335px;
    padding-top: 7px;
  }

  &__info {
    flex-grow: 1;
    display: none;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    cursor: default;
    padding-bottom: 8px;
    padding-left: 30px;

    &--open {
      opacity: 1;
    }
  }

  &__wrap {
    display: flex;
    justify-content: flex-end;
    padding-right: 62px;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: block;
    max-width: 450px;
    width: 100%;
  }

  &__item {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
  }

  &__gray {
    font-size: 16px;
    line-height: 32px;
    color: #161515;
    opacity: 0.7;
    max-width: 192px;
    width: 100%;
    display: block;
    margin-right: 32px;
  }

  &__text {
    font-size: 16px;
    line-height: 32px;
    display: block;
    max-width: 500px;
    width: 100%;
  }

  &__click {
    width: 16px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-top: 12px;
    transition: all 0.5s ease-in-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #000;
      width: 1px;
      top: 0;
      bottom: 50%;
      transition: all 0.5s ease-in-out;
    }

    &::before {
      left: 5px;
      transform: rotate(-45deg) translateY(-2px);
    }

    &::after {
      right: 5px;
      transform: rotate(45deg) translateY(-2px);
    }

    &--open {
      margin-top: 3px;

      &::before,
      &::after {
        bottom: 0;
      }

      &::before {
        left: 10px;
        transform: rotate(-45deg) translateY(-3.5px);
      }

      &::after {
        right: 10px;
        transform: rotate(45deg) translateY(-3.5px);
      }
    }
  }
}

.recommend {
  &__container {
    padding-top: 95px;

    .title {

      &::before,
      &::after {
        width: 416px;
        max-width: inherit;
      }

      &::before {
        left: calc(50% - 208px);
      }

      &::after {
        right: calc(50% - 208px);
      }
    }

    &--change {
      padding-top: 65px;

      .recommend__wrapper {
        padding-bottom: 3px;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    padding-top: 60px;
    padding-bottom: 55px;
  }

  &__wrap-slider {
    position: relative;
    margin: 0 -32px;
  }

  &__slider {
    padding: 0 32px;

    .auto-post {
      &__img {
        width: 100%;
      }
    }

    .recommend__wrapper {
      display: flex;
    }
  }

  &__slide {
    max-width: 304px;
  }


  &__arrow {
    width: 64px;
    height: 64px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #E0E9F0;

    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 6px);
      top: calc(50% - 12px);
      background-image: url(../img/slider-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 12px;
      height: 24px;
    }

    &--next {
      right: 0;
    }

    &--prev {
      transform: rotate(180deg);
      left: 0;
    }
  }
}

.auto-post {
  &__img {
    width: 100%;
  }

  &__block-text {
    padding-top: 23px;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    color: #161515;
    font-weight: 400;
    margin-bottom: 4px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.7;
  }

  &__row {
    display: flex;
    padding-top: 8px;
    align-items: baseline;
  }

  &__price {
    font-size: 20px;
    line-height: 24px;
    color: #161515;
  }

  &__payments {
    font-size: 12px;
    line-height: 24px;
    color: #0B3FC7;
    margin-left: 25px;
  }
}

.centers {
  padding: 62px 0 35px;

  &--change {
    padding-top: 0;
    margin-bottom: 15px;

    .centers__wrapper {
      padding-top: 38px;
    }

    .centers-row {
      padding-bottom: 45px;

      &__left-block {
        max-width: 560px;

        .block-btn {
          min-width: 136px;
          max-width: 136px;
        }
      }

      &__title {
        margin-bottom: 27px;
      }

      &__center-block {
        max-width: 360px;
      }

      &__right-block {
        padding-left: 88px;
      }
    }
  }

  &--change-margin {
    margin-bottom: 5px;
  }

  &__wrapper {
    padding: 62px 0 0;
  }
}

.centers-row {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(22, 21, 21, 0.3);
  padding-bottom: 35px;
  margin-bottom: 30px;

  &:last-child {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__left-block {
    flex-grow: 1;
    max-width: 672px;
  }

  &__row {
    display: flex;
    align-items: flex-start;
  }

  &__wrap {
    margin-left: 56px;
    min-width: 214px;
    max-width: 214px;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    max-width: 304px;
    color: #000;
    margin-bottom: 60px;
    margin-top: 8px;

    &--change {
      max-width: 192px;
      margin-right: 22px;
    }
  }

  &__img-centers {
    max-width: 192px;
    margin-right: 32px;
    margin-top: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
  }

  &__svg {
    fill: transparent;
    stroke: #000;
    width: 6px;
    height: 10px;
    margin-right: 10px;
  }

  &__link-text {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #161515;
  }

  &__center-block {
    max-width: 285px;
    flex-grow: 1;
  }

  &__block-text {
    margin-bottom: 10px;
  }

  &__wrap-svg {
    margin-bottom: 19px;
  }

  &__location {
    width: 16px;
    height: 24px;
    fill: #293443;
    stroke: #293443;
  }

  &__text {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.7;
    color: #293443;
  }

  &__sm-text {
    display: block;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.7;
    color: #293443;
    letter-spacing: 0.3px;
    display: block;
    margin-top: 10px;
  }

  &__right-block {
    max-width: 304px;
    padding-left: 51px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__tell {
    width: 26px;
    height: 24px;
    fill: #293443;
    stroke: #293443;
  }

  &__tel {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
  }

  &__flex {
    display: flex;

    .centers-row__link {
      &:first-child {
        margin-right: 24px;
      }
    }
  }
}

.white-bg {
  .link-sect__wrapper {
    padding-top: 49px;
    padding-bottom: 6px;
  }
}

.goods {
  padding: 57px 0 57px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 93px;
    column-gap: 64px;
  }

  &--change {
    padding: 40px 0 71px;
  }
}

.car-posts {
  &__up {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #293443;
  }

  &__name {
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
    color: #112145;
  }

  &__availability {
    font-size: 12px;
    line-height: 40px;
    font-weight: 500;
    color: #293443;
    opacity: 0.5;
    letter-spacing: 0.3px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
  }

  &__text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #293443;
    opacity: 0.7;
    letter-spacing: 0.4px;
    padding-top: 16px;
    display: block;
  }

  &__img {
    max-width: 272px;
    width: 100%;
    margin: 0 auto -35px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: flex-end;
  }

  &__old-price {
    display: block;
    font-size: 12px;
    line-height: 24px;
    opacity: 0.5;
    text-decoration: line-through;
    transition: all 0.3s ease-in-out;
  }

  &__price {
    font-size: 20px;
    line-height: 24px;
    transition: all 0.3s ease-in-out;
  }

  &__wrap {
    display: flex;
    align-items: baseline;

    .favorites__svg {
      stroke: #161515;
      fill: transparent;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      &:hover {
        stroke: #8E0F28;
      }
    }

    .comparisons__svg {
      fill: #161515;
      stroke: transparent;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      &:hover {
        fill: #8E0F28;
      }
    }
  }

  &__down {
    padding-top: 19px;
  }

  &:hover {
    .favorites__svg {
      opacity: 1;
    }

    .comparisons__svg {
      opacity: 1;
    }

    .car-posts__text-benefit,
    .car-posts__sm-price,
    .car-posts__old-price,
      {
      color: #8E0F28;
    }

    .car-posts__svg-benefit {
      fill: #8E0F28;
    }
  }

  &__benefit-block {
    display: flex;
    margin-bottom: 5px;
  }

  &__svg-benefit {
    min-width: 27px;
    max-width: 27px;
    max-height: 16px;
    fill: #112145;
    margin-right: 13px;
    transition: all 0.3s ease-in-out;
  }

  &__text-benefit {
    display: block;
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 0.2px;
    transition: all 0.3s ease-in-out;
  }

  &__sm-price {
    font-size: 14px;
    list-style: 14px;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
  }
}

.text-area {
  padding: 78px 0 58px;
  max-width: 640px;
  margin: 0 auto;

  p {
    max-width: 640px;
    display: block;
    margin: 0 auto 30px;
    font-size: 16px;
    line-height: 32px;
    color: #000;

    &:last-child {
      margin: 0 auto;
    }

    a {
      font-size: 16px;
      line-height: normal;
      font-weight: 700;
      color: #293443;
    }
  }

  span {
    font-size: 16px;
    line-height: 24px;
    max-width: 640px;
    display: block;
    margin: 0 auto;
  }

  h2 {
    max-width: 640px;
    margin: 0 auto 15px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }

  ul {
    max-width: 640px;
    margin: 0 auto 15px;
    padding: 0;
  }

  li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    line-height: 24px;
  }

  img {
    width: 100%;
    margin-top: 25px;
  }

  blockquote {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    color: #293443;
    border-top: 2px solid #112145;
    display: block;
    margin-top: 43px;
    padding-top: 42px;
    margin-bottom: 32px;
  }
}

.comparison {
  padding-bottom: 48px;

  &__table-row {
    &:first-child {
      .comparison__table-date {
        padding: 2px 0 16px;
      }
    }

    &:last-child {
      .comparison__table-date {
        border: none;
        height: auto;
        vertical-align: top;
        padding-top: 30px;

        .link-sect__link {
          margin-top: 36px;
        }
      }
    }
  }

  &__table-date {
    position: relative;
    border-bottom: 1px solid #E0E9F0;
    padding: 6px 0 9px;
    height: 62px;
    vertical-align: bottom;
    min-width: 330px;

    &:hover {
      .comparison__flex {
        opacity: 1;
      }

      .comparison__old-price {
        opacity: 0.5;
      }
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &__wrap-benefits {
    display: flex;
    align-items: center;

    .car-posts {
      &__wrap-text {
        display: flex;
        align-items: center;
        padding-top: 2px;
      }

      &__text-benefit {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
      }

      &__sm-price {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        margin-left: 8px;
      }
    }
  }

  &__close {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    //    right: 0;
    //    top: -2px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 48%;
      top: 0;
      bottom: 0;
      background-color: #112145;
      width: 1px;
      transform: rotate(-45deg);
    }

    &::after {
      content: "";
      position: absolute;
      right: 48%;
      top: 0;
      bottom: 0;
      background-color: #112145;
      width: 1px;
      transform: rotate(45deg);
    }
  }

  &__wrap-img {
    position: relative;
    max-width: 272px;
    margin-top: 16px;
    margin-bottom: 14px;
  }

  &__img {
    width: 100%;
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  &__name {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 4px;
  }

  &__old-price {
    font-size: 12px;
    line-height: 24px;
    text-decoration: line-through;
    display: block;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &__price {
    font-size: 20px;
    line-height: 24px;
  }

  &__sm-price {
    font-size: 12px;
    line-height: 24px;
    color: #0B3FC7;
    margin-left: 15px;
    display: block;
    margin-bottom: -2px;
  }

  &__caption {
    font-size: 12px;
    line-height: 24px;
    color: #293443;
    opacity: 0.5;
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    color: #293443;
  }
}


.prizes {
  display: flex;
  justify-content: center;

  &__container {
    padding: 48px 0;
    max-width: 704px;

    .link-sect {
      &__wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding: 8px 32px 0;
      }

      &__block {
        padding-top: 22px;
      }

      &__caption {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    .text-area {
      padding-top: 44px;
      border-top: 1px solid rgba(22, 21, 21, 0.1);
      padding-bottom: 28px;

      p {
        margin-bottom: 16px;
      }
    }

    .prizes-advantages__wrap {
      //      padding-bottom: 0;
    }
  }

  &__row {
    padding: 0 32px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    margin-bottom: -1px;
    position: relative;

    &--open {
      border-color: rgba(22, 21, 21, 0.2);

      .prizes__wrap {
        border-color: transparent;
      }
    }
  }

  &__wrap {
    border-top: 1px solid rgba(22, 21, 21, 0.2);
    padding: 33px 0 33px;
    min-height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
  }

  &__caption {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    display: block;
    margin-bottom: 6px;
  }

  &__link-row {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    div {
      height: 19px;
      overflow: hidden;
    }

    span {
      font-size: 12px;
      line-height: 16px;
      padding-top: 3px;
      display: block;
      transition: all 0.3s ease-in-out;
    }

    &--open {
      span {
        transform: translateY(-19px);
      }
    }
  }
}

.prizes__row--open+.prizes__row .prizes__wrap {
  border-color: transparent;
}

.prizes-advantages {
  margin: 0 -16px;
  display: flex;
  justify-content: flex-start;
  padding: 0 32px;

  &__block {
    padding: 0 16px;
    width: 50%;
  }

  &__wrap {
    border-top: 1px solid #161515;
    padding: 25px 0 66px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    &--change {
      padding-bottom: 0;
    }
  }

  &__number {
    font-size: 72px;
    line-height: 72px;
    margin-right: 35px;
  }

  &__text {
    font-size: 24px;
    line-height: 24px;
    color: #000;
    max-width: 192px;
    padding-top: 4px;
  }
}

.prizes-dropdown {
  display: none;
  padding-bottom: 26px;

  &__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 0.5px);
      width: 1px;
      height: 100%;
      background-color: #000;
      transform: rotate(-45deg);
    }

    &::after {
      content: "";
      position: absolute;
      left: calc(50% - 0.5px);
      width: 1px;
      height: 100%;
      background-color: #000;
      transform: rotate(45deg);
    }
  }

  &__wrapper {
    p {
      font-size: 16px;
      line-height: 32px;
      color: #293443;
      opacity: 0.7;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
    }
  }
}

.text-area-type-two {
  padding-top: 30px;

  img {
    width: 100%;
  }
}

.text-area-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.col-sm {
  img {
    object-fit: cover;
    object-position: center;
  }
}

.pay-block {
  background-color: #F3F4F6;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--no-bg {
    background-color: transparent;
    border: 1px solid #F3F4F6;
  }
  @media (max-width: 1312px) {
    width: 100%;
  }
  @media (max-width: 575px) {
    display: block;
    padding: 16px;
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: rgba($color: #293443, $alpha: 0.7);
    display: block;
    margin-right: 30px;
    @media (max-width: 575px) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin: 0 -12px;
    @media (max-width: 768px) {
      margin: 0 -6px;
    }
  }

  &__wrap {
    padding: 0 12px;
    display: block;
    @media (max-width: 768px) {
      padding: 0 6px;
    }

    img {
      max-width: 100%;
    }
  }
}