doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Крос
    
    include includes/link.pug
    
  body
    header
      .header-bg(style="background-image: url(img/prizes-bg.jpg)")
        include includes/mob-menu.pug
        include includes/header-nav.pug
        .breadcrumbs.breadcrumbs--white
          .container
            .breadcrumbs__wrapper
              ul.breadcrumbs__list.breadcrumbs__list--center
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Главная
                  svg.breadcrumbs__svg
                    use(xlink:href="img/sprite.svg#sm-arrow-right")
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") О компании
                  svg.breadcrumbs__svg
                    use(xlink:href="img/sprite.svg#sm-arrow-right")
                li.breadcrumbs__item
                  span.breadcrumbs__link.breadcrumbs__link--active История
        h2.header-bg__row-title
          .container
            h2.header-bg__title.header-bg__title--center Наши награды
      
    main.main-change
      .container
        .platform
          .prizes
            .prizes__container
              .prizes-advantages
              
                .prizes-advantages__block
                  .prizes-advantages__wrap
                    span.prizes-advantages__number 11
                    span.prizes-advantages__text лет на автомобильном рынке
                    
                .prizes-advantages__block
                  .prizes-advantages__wrap
                    span.prizes-advantages__number 14
                    span.prizes-advantages__text престижных отраслевых наград
                    
              .prizes__row
                .prizes__wrap
                  .prizes__up
                    h5.prizes__caption KIA Новомосковск лучший дилер в области маркетинга 2018
                    .prizes-dropdown
                      .prizes-dropdown__close
                      .prizes-dropdown__wrapper
                        p Автомобильный холдинг «КорсГрупп» признан победителем в номинации «Транспортные услуги и автомобили» в ежегодной премии «Тульский бренд». 28 ноября 2018 года были подведены итоги ежегодной премии «Тульский бренд», учрежденной холдингом «Медиа-Тула».Победителей традиционно определили жители Тульской области. В результате голосования были определены лучшие компании и предприятия в различных сферах. Победителями в этом году стали 50 компаний и предприятий в 12 номинациях среди которых: ОХК «Щекиноазот», Банк «ВТБ», Страховая компания «Росгосстрах», ПО «Туламашзавод», ПАО «Тульский оружейный завод», ОАО «Сплав», ПАО «Ростелеком», АО «Внешстрой» и многие другие. Автомобильный холдинг «КорсГрупп» стал победителем в номинации «Транспортные услуги и автомобили».

                        img(src="img/prizes-dropdown-img.jpg")
                  .prizes__link-row
                    svg.link-sect__svg
                      use(xlink:href="img/sprite.svg#sm-arrow-right")
                    div 
                      span Подробнее
                      span Свернуть
                  
              .prizes__row
                .prizes__wrap
                  .prizes__up
                    h5.prizes__caption «КорсГрупп» признан победителем премии «Тульский бизнес-2018» 
                    .prizes-dropdown
                      .prizes-dropdown__close
                      .prizes-dropdown__wrapper
                        p Автомобильный холдинг «КорсГрупп» признан победителем в номинации «Транспортные услуги и автомобили» в ежегодной премии «Тульский бренд». 28 ноября 2018 года были подведены итоги ежегодной премии «Тульский бренд», учрежденной холдингом «Медиа-Тула».Победителей традиционно определили жители Тульской области. В результате голосования были определены лучшие компании и предприятия в различных сферах. Победителями в этом году стали 50 компаний и предприятий в 12 номинациях среди которых: ОХК «Щекиноазот», Банк «ВТБ», Страховая компания «Росгосстрах», ПО «Туламашзавод», ПАО «Тульский оружейный завод», ОАО «Сплав», ПАО «Ростелеком», АО «Внешстрой» и многие другие. Автомобильный холдинг «КорсГрупп» стал победителем в номинации «Транспортные услуги и автомобили».

                        img(src="img/prizes-dropdown-img.jpg")
                  .prizes__link-row
                    svg.link-sect__svg
                      use(xlink:href="img/sprite.svg#sm-arrow-right")
                    div 
                      span Подробнее
                      span Свернуть
                    
              .prizes__row
                .prizes__wrap
                  .prizes__up
                    h5.prizes__caption «КорсГрупп» признан победителем премии «Тульский бренд» 
                    .prizes-dropdown
                      .prizes-dropdown__close
                      .prizes-dropdown__wrapper
                        p Автомобильный холдинг «КорсГрупп» признан победителем в номинации «Транспортные услуги и автомобили» в ежегодной премии «Тульский бренд». 28 ноября 2018 года были подведены итоги ежегодной премии «Тульский бренд», учрежденной холдингом «Медиа-Тула».Победителей традиционно определили жители Тульской области. В результате голосования были определены лучшие компании и предприятия в различных сферах. Победителями в этом году стали 50 компаний и предприятий в 12 номинациях среди которых: ОХК «Щекиноазот», Банк «ВТБ», Страховая компания «Росгосстрах», ПО «Туламашзавод», ПАО «Тульский оружейный завод», ОАО «Сплав», ПАО «Ростелеком», АО «Внешстрой» и многие другие. Автомобильный холдинг «КорсГрупп» стал победителем в номинации «Транспортные услуги и автомобили».

                        img(src="img/prizes-dropdown-img.jpg")
                  .prizes__link-row
                    svg.link-sect__svg
                      use(xlink:href="img/sprite.svg#sm-arrow-right")
                    div 
                      span Подробнее
                      span Свернуть
                    
              .prizes__row
                .prizes__wrap
                  .prizes__up
                    h5.prizes__caption «КИА центр на Рязанской» в номинации «Организация сервиса в массовом сегменте по ЦФО» «Автостат- 2018»
                    .prizes-dropdown
                      .prizes-dropdown__close
                      .prizes-dropdown__wrapper
                        p Автомобильный холдинг «КорсГрупп» признан победителем в номинации «Транспортные услуги и автомобили» в ежегодной премии «Тульский бренд». 28 ноября 2018 года были подведены итоги ежегодной премии «Тульский бренд», учрежденной холдингом «Медиа-Тула».Победителей традиционно определили жители Тульской области. В результате голосования были определены лучшие компании и предприятия в различных сферах. Победителями в этом году стали 50 компаний и предприятий в 12 номинациях среди которых: ОХК «Щекиноазот», Банк «ВТБ», Страховая компания «Росгосстрах», ПО «Туламашзавод», ПАО «Тульский оружейный завод», ОАО «Сплав», ПАО «Ростелеком», АО «Внешстрой» и многие другие. Автомобильный холдинг «КорсГрупп» стал победителем в номинации «Транспортные услуги и автомобили».

                        img(src="img/prizes-dropdown-img.jpg")
                  .prizes__link-row
                    svg.link-sect__svg
                      use(xlink:href="img/sprite.svg#sm-arrow-right")
                    div 
                      span Подробнее
                      span Свернуть
                    
              .prizes__row
                .prizes__wrap
                  .prizes__up
                    h5.prizes__caption «Кайзеравто» — победитель в номинации «Клиент- ориентированная компания» премии «Тульский бизнес» 2017 
                    .prizes-dropdown
                      .prizes-dropdown__close
                      .prizes-dropdown__wrapper
                        p Автомобильный холдинг «КорсГрупп» признан победителем в номинации «Транспортные услуги и автомобили» в ежегодной премии «Тульский бренд». 28 ноября 2018 года были подведены итоги ежегодной премии «Тульский бренд», учрежденной холдингом «Медиа-Тула».Победителей традиционно определили жители Тульской области. В результате голосования были определены лучшие компании и предприятия в различных сферах. Победителями в этом году стали 50 компаний и предприятий в 12 номинациях среди которых: ОХК «Щекиноазот», Банк «ВТБ», Страховая компания «Росгосстрах», ПО «Туламашзавод», ПАО «Тульский оружейный завод», ОАО «Сплав», ПАО «Ростелеком», АО «Внешстрой» и многие другие. Автомобильный холдинг «КорсГрупп» стал победителем в номинации «Транспортные услуги и автомобили».

                        img(src="img/prizes-dropdown-img.jpg")
                  .prizes__link-row
                    svg.link-sect__svg
                      use(xlink:href="img/sprite.svg#sm-arrow-right")
                    div 
                      span Подробнее
                      span Свернуть 
                    
                    
                  
                      
                        
                      
      
      section.connect(style="background-image: url(img/connect-bg2.jpg)")
        .container
          .connect__container
            .connect__block
              .row-title
                h2.title.title--white Подпишитесь на спецпредложения и будьте в курсе всех акций
              a.block-btn.block-btn--white(href="#")
                .block-btn__line.block-btn__line--top
                .block-btn__line.block-btn__line--right
                .block-btn__line.block-btn__line--bottom
                .block-btn__line.block-btn__line--left
                button.block-btn__btn Подписаться

         
            

      
      
    footer
      include includes/footer.pug

      
                     
                   
    include includes/script.pug