doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Автоград
    
    include includes/link.pug
    
  body
    div.container
      div
        a(href="index.html" target="_blank") главная
      div  
        a(href="center-page.html" target="_blank") ДИЛЕРСКИЕ ЦЕНТРЫ
      div
        a(href="jobs.html" target="_blank") Вакансии
      div
        a(href="jobs-inner.html" target="_blank") Ассистент сервиса
      div
        a(href="clients.html" target="_blank") Корпоративным клиентам
      div
        a(href="service.html" target="_blank") Сервис
      div
        a(href="service-record.html" target="_blank") Запись на сервис
      div
        a(href="body-repair.html" target="_blank") Кузовной ремонт
      div
        a(href="spare-parts-and-accessories.html" target="_blank") Запчасти и аксессуары
      div
        a(href="traid-in.html" target="_blank") traid-in.html
      div
        a(href="equipment.html" target="_blank") Дополнительное оборудование
      div
        a(href="special-offers.html" target="_blank") Спецпредложения

      
                     
                   
    include includes/script.pug