// Font
$mainFont: 'Muller', sans-serif;

// Size
$mainFontColor: #12203e;
$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

// Font Size
$smFontSize: 12px;
$reFontSize: 14px;
$mdFontSize: 16px;
$lgFontSize: 18px;

$desktopWidth: 1312px;
$smDesktopWidth: 991px;
$tableWidth: 768px;
$phoneWidth: 575px;
$smPhoneWidth: 320px;

// Main color
$default-color: #ffffff;
$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #C0C4CC;

// Border Color
$border-base: #DCDFE6;
$border-light: #E4E7ED;
$border-lighter: #EBEEF5;
$border-lightex: #F2F6FC;